extends layout

block content
    h1 ngPittsburgh - Models, Views and Whatever
    h2 Example Demos
    ul
        li
            a(href='basic_service/') Basic Service Example
        li
            a(href='hello_world/') Hello World
        li
            a(href='simple_controller/') Simple Controller Example
        li
            a(href='routing/') Routing Example
        li
            a(href='directive_example/') Directive Example